hr{
	height: 1px;
	width: 100%;
	border-style: none;
	background-color: #CCC;
}
.overfix{
	overflow: auto;
}
.left-box{
	padding: 1.5%;
	margin: 2%;
	background-color: #FFF;
	float: left;
	width: 21%;
}

.left-box a{ text-decoration: none; }

.right-box{
	padding: 1.5%;
	margin-top: 2%;
	margin-right: 2%;
	margin-bottom: 2%;
	background-color: #FFF;
	float: left;
	width: 67%;
}

.list{
	padding-left: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	color: #0099CC;
	border-left: solid #FFF 3px;

}
.list:hover{
	background-color: #efe;
	color: #1177aa;
}

.list-active{
	color: #111;
	font-weight: bold;
	border-left: solid #955 3px;
}


form[id='detail'] span{
	display: inline-block;
	width: 90px;
	padding-top: 5px;
	padding-bottom: 5px;
	overflow: hidden;
	vertical-align: middle;
}

form[id='detail'] input[type='text']{
	vertical-align: middle;
	width: 160px;

}



/* 以下為公司profile 的CSS部分 , 已用特殊名字定義區分 */

.profile-cover{
	height: 220px;
	overflow: hidden;
}
.profile-cover-img{
	width: 100%;
	height: 100%;
}
.profile-pic{
	width: 150px;
	height: 160px;
	padding: 0.5%;
	padding-right: 0.7%;
	padding-bottom:  0.8%;
	background-color: #FFF;
	border: solid 1px #aaa;
	margin-top: -140px;
	margin-left: 30px;
	position: relative;
	z-index: 1;

}
.profile-pic-img{
	width: 100%;
	height: 100%;
	border: solid 1px #aaa;
	display: block;
}	
.profile-name{
	position: relative;
	top: -50px;
	height: 50px;
	padding-left: 210px;
	font-size: 30px;
	color: #FFF;
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.7))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
}
.profile-pic-change{
	position: relative;
	width: 142px;
	z-index: 1;
	top: -30px;
	padding:5px;
	background-color: #000;
	color: #FFF;
	opacity: 0.8;
}
.profile-pic-change:hover{
	cursor: pointer;
}

.profile-content{
	margin-top:15px;
	margin-bottom: 75px;
}


.profile-boxleft{
	background-color: #FFF;
	float: left;
	width: 65%;
	margin-right: 1%;
	padding: 2%;
	padding-bottom: 4%;
}

.profile-boxleft h3{
	margin-bottom: 1.8%;
	color: #333;
}
.profile-boxleft p{
	color: #333;
	padding-left: 1%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}

.profile-boxright{
	float: left;
	width: 30%;	
}
.profile-boxright h2{
	margin-bottom: 5%;
	color: #333;
}

.profile-boxinner{
	background-color: #FFF;
	padding: 6%;
	margin-bottom: 4%;
	word-break:break-all;
}
.profile-span-right{
	float: right;
	max-width: 30%;
	display: inline-block;
	white-space:nowrap;
	overflow: hidden;
	
}
.profile-span-left{
	display: inline-block;
	max-width: 70%;
	overflow: hidden;
	white-space:nowrap;
	overflow: hidden;
}
.profile-span-box{
	border-bottom: solid 1px #DDD;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 14px;
}
.profile-span-title{
	display: inline-block;
	width: 15%;
	color: #555;
	font-size: 14px;
	font-weight: bold;

}
#profile-btn-edit{
	font-size: 14px;
	color: #555;
	float: right;
	display: inline-block;
	margin-top: 1%;
	margin-right: 1%;
}




