
	*{
		margin: 0;
		padding: 0;
	}
	.container{
		width: 900px;
		margin-left: auto;
		margin-right: auto;
	}
	.top{
		padding-top:25px;
		height: auto;
		background-color: #987;
	}
	.center{
		height: auto;
		background-color: #a98;
		width: 100%;
		min-height: 900px;
	}
	.search-bar{
		
		text-align: center;
		padding-top: 10px;
		padding-bottom: 35px;
	}
	.search-bar .set-center{
		height: 30px;
		display: inline-block;
	}
	.search-bar input[type='text']{
		width: 500px;
		height: 100%;
	}
	.search-bar input[type='button']{
		width: 50px;
		height: 100%;

	}
	.tag-bar{
		
		padding-bottom: 20px;
		overflow: auto;
	}
	.tag-bar .tag{
		width: 100px;
		overflow: auto;
		background-color: #644;
		margin: 5px;
		padding: 5px;
		float: left;
		color: #FFF;

	}
	.center .title{
		padding-top: 20px;
		padding-bottom: 20px;
		overflow: auto;
	}
	.title-left{
		float: left;
		width: 28%;
	 }
	.title-right{
		float: left;
		width: 72%;
		margin-top: 2.5%;
	 }
	.center .title h1{
		font-size: 50px;
		color: #FFF;
		display: inline-block;
	}
	.center .title .tag{
		background-color: #254;
		color: #FFF;
		margin: 5px;
		padding: 5px;
		font-size: 14px;
	}

	.center .work-list-bar{
		padding-top: 10px;
		height: auto;
		overflow: auto;
	}
	.center .work-list-bar .list{
		width: 25%;
		overflow: auto;
		float: left;	
		text-decoration: none;
	}
	.list a{
		text-decoration: none;
	}

	.work{
		width: 89%;
		padding: 2.5%;
		margin-left: 3%;
		margin-right: 3%;
		margin-bottom: 6%;
		height: auto;
		background-color: #cae;
	}
	.work:hover{
		background-color: #dbf;
	}
	.work h1{
		margin-bottom: 11px;
		color: #333;
		font-size: 28px;
		word-break: break-word; /* 文本行的任意字内断开 */ 
		word-wrap: break-word; /* IE */ 
		white-space: -moz-pre-wrap; /* Mozilla */ 
		white-space: -hp-pre-wrap; /* HP printers */ 
		white-space: -o-pre-wrap; /* Opera 7 */ 
		white-space: -pre-wrap; /* Opera 4-6 */ 
		white-space: pre; /* CSS2 */ 
		white-space: pre-wrap; /* CSS 2.1 */ 
		white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */ 
		
	}
	.work p{
		color: #555;
		padding-left: 5px;
		
	}
	.work .date{
		padding-top: 30px;
		text-align: right;
		font-size: 14px;
		

	}